<!-- Blog Site -->
<div class="main-navigation-btn">
    <a href="https://mssablog.com/">
        Blog
    </a>
</div>

<!-- Resources -->
<div class="main-navigation-btn">
    <a id="nav" href="/mssablog.github.io/index.html">
        Resources <i class="arrow down"></i>
    </a>
    <div class="main-navigation-dropdown"  id="">
        <a href="/mssablog.github.io/soft-skills/index.html">Soft Skills</a>
        <a href="/mssablog.github.io/technical-skills/index.html">Technical Skills</a>
    </div>
</div>

<!-- Contribute -->
<div class="main-navigation-btn">
    <a id="nav" href="https://mssablog.com/contribute/">
        Contribute <i class="arrow down"></i>
    </a>
    <div class="main-navigation-dropdown">
        <a href="https://mssablog.com/contribute/blog-question/">Blog: Ask a Question</a>
        <a href="/mssablog.github.io/contributing.html">Open Source: Resources and Improvements</a>
    </div>
</div>

<!-- MSSA Program Overview -->
<div class="main-navigation-btn">
    <a href="https://mssablog.com/mssa-program-overview/">
        What is MSSA?
    </a>
</div>

<!-- About Me -->
<div class="main-navigation-btn">
    <a href="https://mssablog.com/about-me/">
        About Me
    </a>
</div>

<!-- Contact -->
<div class="main-navigation-btn">
    <a href="https://mssablog.com/contact/">
        Contact
    </a>
</div>
