<h4 class="sidebar-navigation-title">Site Navigation</h4>

<p>
  <a href="/index.html">Resources Home</a>
</p>

<a href="/soft-skills/index.html">Soft Skills</a>

<ul class="sidebar-level1-list">
  <li> <a href="/soft-skills/elevator-pitch.html">Elevator Pitch</a></li>
  <li> <a href="/soft-skills/resume-guidance.html">Resume Guidance</a></li>
  <li> <a href="/soft-skills/networking-and-linkedin.html">Networking and LinkedIn</a></li>
  <li> <a href="/soft-skills/company-research.html">Company Research</a></li>
  <li> <a href="/soft-skills/soar-stories.html">SOAR Stories</a></li>
  <li> <a href="/soft-skills/job-interview-prep.html">Job Interview Prep</a></li>
</ul>

<a href="/technical-skills/index.html">Technical Skills</a><br /><br />

<a href="/technical-skills/cad/index.html">Cloud Application Developer</a>
  <ul class="sidebar-level1-list">
    <li> <a href="/technical-skills/cad/learning-resources/index.html">Learning Resources</a></li>
    <li> Project Ideas</li>
    <li> <a href="/technical-skills/cad/technical-interviews/index.html">Technical Interviews</a></li>
    <li> <a href="/technical-skills/cad/certifications/index.html">Certifications</a></li>
    <li> Careers</li>
  </ul>
<a href="/technical-skills/sca/index.html">Server and Cloud Administrator</a>
  <ul class="sidebar-level1-list">
    <li> Learning Resources</li>
    <li> Project Ideas</li>
    <li> Technical Interviews</li>
    <li> Certifications</li>
    <li> Careers</li>
  </ul>
<a href="/technical-skills/general/index.html">General Technical Resources</a>
  <ul class="sidebar-level1-list">
    <li> Learning Resources</li>
    <li> Technical Interviews</li>
    <li> Certifications</li>
  </ul>

<p>
  <a href="/contributing.html">Guide to Contributing</a>
</p>
